html {
  scrollbar-width: none;
  
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 749px) {
  .main-app-container {
    display: grid;
    position: absolute;
    width: 100vw;
  }

  .navbar-container {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 48px;
    background: #000000;
    color: #cdd7d6;
  }

  .main-container {
    grid-row: 2/6;
    grid-column: 1/2;
    height: 87vh;
    color: #000000;
    overflow: scroll;
  }

  .footer-container {
    grid-row: 6/7;
    grid-column: 1/2;
    height: 7vh;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    border-top: 1px solid #45566e;
  }

  .top-nav,
  .bottom-nav {
    display: none;
  }

  .footer-right,
  .progress-bar {
    display: none;
  }

  .control-button:nth-child(1),
  .control-button:nth-child(3) {
    visibility: hidden;
  }

  .footer-center {
    margin-top: auto;
    margin-bottom: auto;
  }

  .control-button:nth-child(2) {
    position: absolute;
    right: 20px;
  }

  .control-button svg {
    height: 20px;
  }
  .track-info {
    display: flex;
    margin-left: 10px;
    height: 6vh;
    align-items: center;
  }

  .artist-name {
    max-width: 80px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .track-name {
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .artist-name::after {
    content: " - ";
  }

  .footer-button-mobile {
    margin-right: 10px;
  }

  .artist-image-small {
    display: none;
  }

  .nav-item {
    display: flex;
    padding: 12px 1vw;
  }

  .mobile-nav-item {
    list-style-type: none;
    text-align: center;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    text-align: start;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 7px;
    color: #d1d1d1;
    transition: color 0.2s;
  }

  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 18px;
    height: 12px;
    left: 24px;
    top: 18px;
  }

  .page-title-small {
    position: fixed;
    left: 70px;
    top: 19px;
    transform: translateY(-3px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 60vw;
  }

  .page-title-large {
    display: none;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #000000;
    padding: 1em 2em 0;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }

  .header-nav-button {
    position: fixed;
    right: 10px;
    top: 15px;
  }

  .main-container-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-container-title {
    padding-left: 5vw;
  }
  .main-container-item-container {
    width: 31vw;
    padding: 4px;
  }

  .image-container {
    text-align: center;
  }

  .image-container img {
    height: 110px;
    width: 110px;
    border-radius: 8px;
    align-items: center;
  }
  .artist,
  .title {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .details-info {
    display: flex;
    padding: 10px;
    max-width: 700px;
    border-bottom: 1px solid #4759722c;
  }

  .details-info-left img {
    height: 160px;
  }

  .details-info-right {
    margin-left: 10px;
    text-align: start;
  }

  .details-info-right div {
    margin-bottom: 6px;
  }

  .details-info-left img {
    border-radius: 15px;
  }

  .details-contributor {
    font-weight: 600;
  }

  .details-title {
    display: none;
  }

  .details-bottom {
    padding: 10px 30px;
  }

  .details-bottom-title {
    display: none;
  }

  .track-item {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #4759722c;
  }

  .track-item td {
    max-width: 5px;
    text-align: end;
  }

  .track-item td:nth-child(-n + 2) {
    text-align: start;
  }

  .track-item td:nth-child(1) {
    width: 30px;
  }

  .track-item td:nth-child(2) {
    max-width: 20px;
  }

  .track-item td:nth-child(3),
  .track-item td:nth-child(4) {
    display: none;
  }

  .home-container {
    color: #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .home-left {
    margin: 30px 20px;
  }

  .home-left div {
    margin: 20px 5px;
  }

  .home-title {
    font-size: 50px;
    font-weight: 600;
  }

  .home-desc {
    font-size: 20px;
    color: #666666;
  }

  .custom-button {
    color: white;
    background-color: #000000;
    border-radius: 4px;
    padding: 9px 18px;
    border-style: hidden;
  }

  .home-right img {
    max-width: 80vw;
  }

  .error-message {
    text-align: center;
    color: #666666;
    padding-top: 20px;
    font-size: 70%;
  }

  .error-message img {
    height: 100px;
    width: auto;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .search-term {
    width: 100%;
    border: 2px solid #000000e0;
    border-right: none;
    padding: 5px;
    height: 21px;
    border-radius: 4px 0 0 4px;
    outline: none;
    color: #9dbfaf;
  }

  .search-term:focus {
    color: #000000;
  }

  .search-button {
    width: 40px;
    height: 35px;
    border: 1px solid #000000;
    background: #000000e0;
    text-align: center;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .search-button:active {
    color: #037012;
  }

  .wrap {
    width: 60%;
    position: absolute;
    padding-top: 5px;
    text-align: center;
    left: 20%;
    z-index: 10;
  }

  .mobile-search {
    width: 100%;
    background-color: aqua;
  }
}

/* Medium devices (landscape tablets, 720px and up) */
@media only screen and (min-width: 750px) {
  .main-app-container {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 5fr 1fr;
    position: fixed;
  }

  .navbar-container {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 92vh;
    max-width: 16vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background: #000000;
    color: #cdd7d6;
  }

  .main-container {
    color: #000000;
    grid-row: 1/2;
    grid-column: 2/3;
    height: 92vh;
    width: 84vw;
    z-index: 1;
    position: relative;
    overflow: scroll;
  }

  .footer-container {
    color: #000000;
    grid-row: 2/3;
    grid-column: 1/3;
    position: fixed;
    height: 8vh;
    z-index: 10;
    background: #00000078;
    display: inline-flex;
    justify-content: space-between;
  }

  .mobile-menu {
    display: none;
  }

  .nav-item {
    padding: 16px 2vw;
    text-transform: capitalize;
  }

  .top-nav .nav-item:nth-child(1) {
    margin: 0 16px;
    border-bottom: 1px solid #68646477;
  }

  .top-nav {
    padding-top: 1px;
  }

  .bottom-nav {
    margin-bottom: 10px;
  }

  .footer-left {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
  }

  .artist-image-small img {
    height: 42px;
    border-radius: 5px;
  }

  .artist-image-small img:hover,
  .artist-name:hover,
  .track-name:hover,
  .control-button:hover {
    cursor: pointer;
  }

  .artist-name:active,
  .track-name:active,
  .control-button:active {
    color: #037012;
  }

  .track-info {
    margin-top: 5px;
    margin-left: 20px;
  }

  .artist-name {
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .track-name {
    margin-top: 4px;
    opacity: 0.7;
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .footer-center,
  .footer-right {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    align-items: flex-start;
  }

  .footer-right {
    margin-right: 25px;
  }

  .footer-right .control-button {
    margin-left: 17px;
  }

  .progress-bar {
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    font-size: 0.9em;
    font-family: sans-serif;
  }
  .progress progress[value] {
    height: 4px;
    width: 100%;
    margin: 0 1em;
    background: #00000000;
  }
  .progress progress[value]::-webkit-progress-bar {
    background: gray;
    border-radius: 5px;
    box-shadow: 0 2px 5px #00000078 inset;
  }
  .progress progress[value]::-webkit-progress-value {
    background-color: #000000;
    border-radius: 5px;
  }

  .page-title-large {
    position: fixed;
    width: 100%;
    height: 50px;
    color: #000000;
    background-color: white;
    z-index: 7;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #0000001f;
  }

  .page-title-content {
    margin: 10px 0 0 70px;
  }

  .main-container-content,
  .details-container {
    padding: 58px 10px 10px 10px;
  }

  .main-container-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .main-container-title {
    padding-left: 5vw;
  }
  .main-container-item-container {
    width: 18vw;
    margin: 1vh 0 1vh 15px;
  }

  .image-container {
    text-align: center;
  }

  .image-container img {
    height: 145px;
    width: 145px;
    border-radius: 8px;
  }
  .artist,
  .title {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .details-info {
    display: flex;
    padding: 0px 70px;
    max-width: 900px;
  }

  .details-info-right {
    margin-left: 50px;
  }

  .details-info-right div {
    margin-bottom: 10px;
  }

  .details-info-left img {
    border-radius: 15px;
  }

  .details-contributor,
  .details-title {
    font-size: 24px;
    font-weight: 600;
  }

  .details-bottom {
    padding: 0px 70px;
    max-width: 800px;
  }

  .track-item-container {
    padding: 8px 3px;
    margin-bottom: 8px;
    border-bottom: 1px solid #4759722c;
  }

  .track-item {
    width: 100%;
  }

  .track-item td {
    max-width: 7px;
    text-align: center;
  }

  .track-item td:nth-child(-n + 2) {
    text-align: start;
  }

  .track-item td:nth-child(1) {
    width: 50px;
  }

  .track-item td:nth-child(2) {
    width: 250px;
  }

  .track-item td:nth-child(5) {
    width: 50px;
    text-align: end;
  }

  .details-bottom-title {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
  }

  .track-item td:nth-child(5):hover {
    cursor: pointer;
  }

  .track-item td:nth-child(5):active {
    color: #037012;
  }

  .footer-button-mobile {
    display: none;
  }

  .home-container {
    display: flex;
    color: #000000;
  }

  .home-left {
    width: 40vw;
    margin: 100px 40px;
  }

  .home-left div {
    margin: 30px 5px;
  }

  .home-title {
    font-size: 60px;
    font-weight: 600;
  }

  .home-desc {
    font-size: 30px;
    color: #666666;
  }

  .custom-button {
    color: white;
    background-color: #000000;
    border-radius: 4px;
    padding: 9px 18px;
    border-style: hidden;
  }

  .home-right {
    width: 50vw;
    margin: 50px 0px;
    text-align: end;
  }

  .home-right img {
    height: auto;
    max-width: 43vw;
    width: auto;
  }

  .error-message {
    text-align: center;
    color: #666666;
    padding-top: 130px;
  }

  .error-message img {
    height: 120px;
    width: auto;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .search-term {
    width: 100%;
    border: 2px solid #000000e0;
    border-right: none;
    padding: 5px;
    height: 21px;
    border-radius: 4px 0 0 4px;
    outline: none;
    color: #9dbfaf;
  }

  .search-term:focus {
    color: #000000;
  }

  .search-button {
    width: 40px;
    height: 35px;
    border: 1px solid #000000e0;
    background: #000000e5;
    text-align: center;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .search-button:active {
    color: #037012;
  }

  .wrap {
    width: 15%;
    position: absolute;
    top: 50%;
    right: 16%;
    transform: translate(-50%, -50%);
  }

  .load-more {
    text-align: center;
  }

  .custom-button:hover {
    cursor: pointer;
  }

  .custom-button:active {
    background-color: #000000c0;
  }

  .mobile-search {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 925px) {
  .main-container {
    width: 85vw;
  }

  .navbar-container {
    max-width: 15vw;
  }
  .nav-item {
    padding: 16px 3vw;
  }

  .progress-bar input {
    width: 50vw;
  }

  .main-container-item-container {
    width: 14vw;
    margin: 1vh 0 1vh 18px;
  }

  .image-container {
    text-align: center;
  }

  .image-container img {
    height: 146px;
    width: 146px;
    border-radius: 8px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav-item {
    padding: 16px 4vw;
  }

  .main-container-item-container {
    width: 14vw;
    margin: 1vh 0 1vh 30px;
  }

  .image-container {
    text-align: center;
  }

  .image-container img {
    height: 170px;
    width: 170px;
    border-radius: 8px;
  }
}

/* general styling */
.main-app-container {
  display: grid;
}

.main-container {
  scrollbar-width: none;
} /* hide scrollbar on firefox */

.main-container::-webkit-scrollbar {
  display: none;
} /*hide scrollbar on chrome */

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.active {
  color: #037012 !important;
}

.nav-icon {
  margin-right: 20px;
  transform: translateY(-1px);
}

.nav-icon:hover {
  cursor: pointer;
}

.nav-icon:active {
  color: #037012;
}

.home-button {
  padding: 10px 25px;
  background: rgba(169, 169, 169, 0.281);
  border-radius: 4px;
}

.artist {
  opacity: 0.7;
}

.loader-container {
  position: absolute;
  top: 30%;
  left: 43%;
}

.image-container img:hover,
.title:hover,
.artist:hover {
  cursor: pointer;
}

.image-container img:active,
.title:active,
.artist:active {
  color: #037012;
}

.image-container img:active {
  size: 90%;
}

.play-button button {
  color: white;
  background-color: #010002;
  border-radius: 4px;
  padding: 7px 15px;
  border-style: hidden;
}

.play-button button:hover {
  cursor: pointer;
}

.play-button button:active {
  background-color: #000000c0;
}

*:focus {
  outline: none;
}

.home-left div a {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.home-left div a img {
  margin-right: 5px;
  height: 19px;
  transform: translateY(1px);
}

.home-left div a:active {
  color: #037012;
}
